.hero-img{
    width: 100%;
    background: rgba(34, 31, 28);
    height: 60vh;
    position: relative;
    .heading{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}