@keyframes maquina {
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}

.samuelContainer{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    .samuelContainer2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        min-width: 340px;
        border-radius: 20px;
        border: 1px solid #d9d9d9;
        box-shadow: 0 2px 2px rgba($color: #d9d9d9, $alpha: 1.0);
        padding: 5rem;
        h1{
            float: left;
            position: relative;
            margin: 10px;
            span{
                position: absolute;
                right: 0;
                width: 0;
                background-color: #221f1c;
                border-left: 3px solid #d9d9d9;
                animation: maquina 3s infinite alternate steps(12);
            }
        }
        h2{
            margin-top: 10px;
            margin-bottom: 10px;
            color: #d09a81;
            font-weight: 500;
        }
        .avatarSamuel{
            max-width: 300px;
            max-height: 300px;
            border: 1px solid #d9d9d9;
            border-radius: 50%;
            margin: 10px;
        }
        .aboutSamuelContainer{
            width: 60%;
            margin-bottom: 20px;
            p{
                font-size: 20px;
                text-align: justify;
            }
        }
        .sliderContainer{
            overflow: hidden;
            width: 25%;
            margin: 20px;
        }
    }
}

@media screen and (max-width: 620px){
    .samuelContainer{
        .samuelContainer2{
            h1{
                font-size: x-large;
            }
            .aboutSamuelContainer{
                width: 90%;
            }
        }
    }
}